version: '2.1'

services:
  gitlab-redis:
    restart: always
    image: sameersbn/redis:{{ redis_for_gitlab_version }}
    container_name: gitlab-redis
    command:
    - --loglevel warning
    volumes:
    - {{ redis_for_gitlab_path }}:/var/lib/redis:z

  gitlab-postgresql:
    restart: always
    image: sameersbn/postgresql:{{ postgresql_for_gitlab_version }}
    container_name: gitlab-postgresql
    volumes:
    - {{ postgresql_for_gitlab_path }}:/var/lib/postgresql:z
    ports:
    - "{{ postgresql_for_gitlab_port }}:5432"
    environment:
    - DB_NAME={{ postgresql_for_gitlab_db_name }}
    - DB_USER={{ postgresql_for_gitlab_user }}
    - DB_PASS={{ postgresql_for_gitlab_pass }}
    - DB_EXTENSION=pg_trgm
    healthcheck:
      test: ["CMD-SHELL", "psql -h 'localhost' -U 'postgres' -c '\\l'"]
      interval: 30s
      timeout: 5s
      retries: 10

  gitlab:
    restart: always
    image: sameersbn/gitlab:{{ gitlab_version }}
    container_name: gitlab
    depends_on:
      gitlab-redis:
        condition: service_started
      gitlab-postgresql:
        condition: service_healthy
      openldap:
        condition: service_started
    ports:
    - "{{ gitlab_http_port }}:80"
    - "{{ gitlab_ssh_port }}:22"
    volumes:
    - {{ gitlab_path }}:/home/git/data:z
    environment:
    - DEBUG=false

    - DB_ADAPTER=postgresql
    - DB_HOST=gitlab-postgresql
    - DB_PORT=5432
    - DB_NAME={{ postgresql_for_gitlab_db_name }}
    - DB_USER={{ postgresql_for_gitlab_user }}
    - DB_PASS={{ postgresql_for_gitlab_pass }}

    - REDIS_HOST=gitlab-redis
    - REDIS_PORT=6379

    - TZ=Asia/Tokyo
    - GITLAB_TIMEZONE=Tokyo

    - GITLAB_HTTPS=false
    - SSL_SELF_SIGNED=false

    - GITLAB_HOST={{ gitlab_hostname }}
    - GITLAB_PORT={{ gitlab_http_port }}
    - GITLAB_SSH_PORT={{ gitlab_ssh_port }}
    - GITLAB_SECRETS_DB_KEY_BASE=long-and-random-alpha-numeric-string
    - GITLAB_SECRETS_SECRET_KEY_BASE=long-and-random-alpha-numeric-string
    - GITLAB_SECRETS_OTP_KEY_BASE=long-and-random-alpha-numeric-string

    - SMTP_USER={{ gitlab_smtp_user }}
    - SMTP_PASS={{ gitlab_smtp_pass }}

    - LDAP_ENABLED=true
    - LDAP_LABEL={{ openldap_org_name }}
    - LDAP_HOST=openldap
    - LDAP_PORT=389
    - LDAP_BIND_DN=cn=admin,dc={{ openldap_1st_dc }},dc={{ openldap_2nd_dc }}
    - LDAP_PASS={{ openldap_admin_pass }}
    - LDAP_METHOD=plain
    - LDAP_ACTIVE_DIRECTORY=false
    - LDAP_ALLOW_USERNAME_OR_EMAIL_LOGIN=true
    - LDAP_UID=cn
    - LDAP_BASE=ou={{ openldap_base_user_ou }},dc={{ openldap_1st_dc }},dc={{ openldap_2nd_dc }}

  jenkins:
    restart: always
    image: jenkins:{{ jenkins_version }}
    container_name: jenkins
    volumes:
    - {{ jenkins_data_path }}:/var/jenkins_home:z
    ports:
    - "{{ jenkins_http_port }}:8080"
    - "{{ jenkins_jnlp_port }}:50000"

  openldap:
    restart: always
    image: osixia/openldap:{{ openldap_version }}
    container_name: openldap
    volumes:
    - {{ openldap_data_path }}/conf:/etc/ldap/slapd.d:z
    - {{ openldap_data_path }}/data:/var/lib/ldap:z
    ports:
    - "{{ openldap_port }}:389"
    environment:
    - LDAP_ORGANISATION={{ openldap_org_name }}
    - LDAP_DOMAIN={{ openldap_1st_dc }}.{{ openldap_2nd_dc }}
    - LDAP_ADMIN_PASSWORD={{ openldap_admin_pass }}

  phpldapadmin:
    restart: always
    image: osixia/phpldapadmin:{{ phpldapadmin_version }}
    container_name: phpldapadmin
    depends_on:
      openldap:
        condition: service_started
    ports:
    - "{{ phpldapadmin_http_port }}:80"
    environment:
    - PHPLDAPADMIN_LDAP_HOSTS=openldap
    - PHPLDAPADMIN_HTTPS=false

  subversion:
    restart: always
    image: mwaeckerlin/svn:{{ subversion_version }}
    container_name: subversion
    volumes:
    - {{ subversion_data_path }}:/svn:z
    ports:
    - "{{ subversion_http_port }}:80"
    links:
    - "openldap:ldap.{{ openldap_1st_dc }}.{{ openldap_2nd_dc }}"
    environment:
    - LDAP_HOST=ldap.{{ openldap_1st_dc }}.{{ openldap_2nd_dc }}
    - LDAP_DOMAIN={{ openldap_1st_dc }}.{{ openldap_2nd_dc }}
    - LDAP_BIND_DN=cn=admin
    - LDAP_BIND_PWD={{ openldap_admin_pass }}
    - LDAP_USER_BASE=ou=people
    - LDAP_GROUP_BASE=ou=group
    - LDAP_READ_DN=user
    - LDAP_WRITE_DN=user
    - LDAP_CONFIG_VERBOSE=3
